.button-style {
    -fx-font-size: 14pt;
    -fx-background-color: #504ab5;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition-property: all;
    -fx-transition-duration: 1s;
    -fx-transition-timing-function: ease-in-out;
    -fx-font-family: "Sinhala MN";
}

.button-style.nav {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}
.button-style.nav:hover {
    -fx-background-color: #d3d2d2;
}


.button-style:hover {
    -fx-background-color: #6b67b4;
}

.search-style{
    -fx-background-color: #33146b;
    -fx-text-fill: white;
    -fx-font-family: "Sinhala MN";
    -fx-font-size: 8pt;
    -fx-background-radius: 0;
}

.search-style:hover{
    -fx-font-size: 8pt;
    -fx-background-color: #482c7a;
}

.list-cell:selected {
    -fx-background-color: #46465e;
    -fx-text-fill: white;
}

.list-view {
    -fx-border-color: blue;
    -fx-border-width: 1px;
}

.list-cell {
    -fx-border-color: #d9d8d8;
}

.free{
    -fx-background-color: #a7c7a7;
}

.busy{
    -fx-background-color: #9d5555;
}

.search-bar{
    -fx-background-color: white;
    -fx-border-color: #33146b;
    -fx-font-family: "Sinhala MN";
    -fx-padding: 4pt;
}

.list-cell .meal-icon {
    -fx-fit-width: 10px;
    -fx-fit-height: 10px;
    -fx-padding: 0 10px 0 0;
}